GEMINI_API_KEY=
VITE_SUPABASE_URL=https://slldavgsoxunkphqeamx.supabase.co
VITE_SUPABASE_JAVIER_TOKEN= sbp_54858975d6c6efd7a7c2c9ea214a3441d6ea7fc0
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNsbGRhdmdzb3h1bmtwaHFlYW14Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ1NTU2NjEsImV4cCI6MjA4MDEzMTY2MX0.MBOwOjdp4Lgo5i2X2LNvTEonm_CLg9KWo-WcLPDGqXo

